.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    text-align: center;
}

.infected{
    border-bottom: 10px solid rgb(1, 82, 21);
    border-top: 10px solid rgb(1, 82, 21);
}

.recovered{
    border-bottom: 10px solid rgb(155, 43, 9);
    border-top: 10px solid rgb(155, 43, 9);

}

.deaths{
    border-bottom: 10px solid rgb(32, 236, 5);
    border-top: 10px solid rgb(32, 236, 5);

}

@media (max-width: 770px) {
    .card
    {
        margin: 2% 0 !important;
    }
}